<html>
    <head>
        <title>
            {{.Title}}
        </title>
        <meta http-equiv="refresh" content="3" >
    </head>
    <body style="background-color:LightGray;">
        <h1 style="background-color:gray;">&#127786;&#128167;Auto Reload Water and Wind Value&#128167;&#127786;</h1>
        <div style="border-color: #000000;
        border-style: dotted;
        background-color: #FFFFFF;">
            <h2>&#128167; Water</h2>
            <h3>Index : {{.Status.Water}} m</h3>
            <h3>Status : {{.Status.WaterStatus}}</h3>
            <h2>&#127786; Wind</h2>
            <h3>Index : {{.Status.Wind}} m/s</h3>
            <h3>Status : {{.Status.WindStatus}}</h3>
        </div>
    </body>
</html>